html {
background : #FFBC42;
}

h1, h2 {
font-family : "Stint Ultra Expanded", sans-serif;
}

.sivussa {
font-family : "Pontano Sans", sans-serif;
}

header {
width : 100%;
}

ul, li {
list-style : none;
text-decoration : none;
}

h1, h2 {
font-family : "Stint Ultra Expanded", sans-serif;
color : white;
}

p {
font-family : "Pontano Sans", sans-serif;
color : white;
}

a {
font-family : "Stint Ultra Expanded", sans-serif;
}

* {
padding : 0;
margin : 0;
box-sizing : border-box;
}

.parallax-container{
position: relative;
height: 400px;
overflow: hidden;
}

.parallax-image{
background-image: url(image69.jpeg);
background-size: cover;
background-position: center;
background-attachment: fixed;
height: 100%;
width: 100%;
}

body {
min-height : 100vh;
position : relative;
}

body::before {
content : "";
position : absolute;
top : 0;
left : 0;
width : 100%;
height : 100%;
z-index : -1;
background : #ffff;
}

header {
padding : 0.5rem 0;
background : #D81159;
font-size : 36px;
}

.container {
max-width : 1440px;
margin : 0 auto;
width : 100%;
padding : 0 1.5rem;
}

nav {
display : flex;
justify-content : space-between;
align-items : center;
}

nav .logo {
display : flex;
justify-content : center;
align-items : center;
color : #ffff;
}

.logo img {
width : 20%;
object-fit : cover;
margin-right : 12px;
margin-left : 1px;
}

.logo span {
font-size : 2rem;
}

nav ul {
list-style-type : none;
color : white;
display : flex;
flex-wrap : wrap;
margin : 20px;
}

nav ul li {
margin : 0 1rem;
align-items : center;
padding : 0.5rem 0;
flex : 1;
text-align : center;
flex : 0 0 100%;
}

nav ul li a {
text-decoration : none;
font-size : 24px;
letter-spacing : 2px;
color : #ffff;
padding : 0.7rem 1rem;
}

footer {
position : absolute;
bottom : 20px;
margin-left : 15px;
}

.jalka {
font-family : "Stint Ultra Expanded", sans-serif;
color : white;
margin-top : 25px;
}

.sivussa {
color : white;
position : relative;
width : 20%;
margin-top : 2rem;
align-self : flex-start;
}

aside {
position : sticky;
top : 0;
}

.lista {
columns : 2;
}

.div5 {
margin-left : 25px;
width : 20%;
}

.div4 {
flex : 1;
width : 45%;
margin : 1.5%;
}

main {
display : flex;
justify-content : space-between;
flex-wrap : wrap;
}

div[class^="div"] {
flex : 1;
width : 45%;
margin : 1.5%;
}

.nappi {
color: #6F4E37;
border-radius : 5px;
text-decoration : none;
text-align : center;
display : inline-block;
font-family : "Stint Ultra Expanded", sans-serif;
font-size : 32px;
}

@media screen and (max-width: 768px) {
}

.sca {
color : white;
text-decoration : none;
list-style : none;
}

h2, h3, h4, p, a, li{
color: black;
}

h1{
color: white;
}

header{
background-color: #6F4E37;
}

a{
margin-top: 20px;
}

p{
margin-top: 15px;
margin-bottom: 15px;
}

aside{
margin-bottom: 50px;
}